body {
    display: flex;
    flex-direction: column;
    padding-top: 56px;
    min-height: 100vh;
}
main {
    flex: 1;
}
#carouselExampleIndicators img {
    width: 100%;
    height: calc(100vh - 56px - 50px);
    object-fit: cover;
}
#second-navbar {
    background-color: antiquewhite;
    display: flex;
}

#second-navbar a {
    height: 50px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#second-navbar a:hover {
    background-color: bisque;
}

.container {
    padding-top: 0px;
    padding-bottom: 30px;
}

#meet-the-team img {
    width: 100%;
    margin: 15px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    height: 100px;
    padding: 20px;
}

footer a {
    margin: 5px;
    text-decoration: none!important;
}

.social-icon {
    display: inline-flex;
    width: 50px;
    height: 50px;
    color: blue;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}